<section class="w-[1000px] sm:w-full">
    <div class="flex flex-col sm:flex-row justify-between relative">
        <div class="flex justify-between w-full items-center">
                <div class="flex items-center justify-center w-full sm:w-auto sm:justify-start flex-col sm:flex-row px-20 gap-x-[-10px] mt-[90px]">
                    <img class="w-[400px] h-[400px] sm:w-[122px] sm:h-[122px] rounded-full sm:absolute" src="/JuanCaro.jpg" alt="Foto perfil">
                <span class="ml-[7px] w-[600px] sm:w-[350px] text-[40px] mt-20 sm:mt-auto sm:text-[22px] p-[30px] sm:p-[27px] bg-black text-white rounded-full text-center sm:text-end bg-custom-gradient font-semibold"><span>Juan Caro Romero.</span></span>
            <span class="hidden items-center justify-center bg-custom-gradient text-white text-xl font-semibold sm:ml-[1200px] text-center px-20 w-20 h-20 rounded-full uppercase sm:flex">Hola</span>
        </div>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center mt-20 sm:mt-32">
        <h1 class="uppercase font-bold text-[60px] sm:text-[56px]">Programador Full Stack</h1>
        <p class="uppercase text-[30px] mt-10 sm:mt-auto sm:text-[25px] max-w-3xl text-center">Llegue a ser tan fanatico de la disciplina que aprendi de manera autodidacta y ahora quiero  dedicar mi vida completa a esto.</p>
    </div>
</section>