<section class="flex flex-col mt-20 pb-20 px-4 sm:mt-48 sm:pb-48 w-[1000px] sm:w-full">
    <div class="flex flex-col items-center">
        <h1 class="text-[60px] sm:text-[56px] mb-10 sm:mb-32 font-bold uppercase text-center">
            Mis proyectos
        </h1>
        <div class="flex flex-col sm:flex-row mt-[-120px] sm:mt-auto gap-10 sm:gap-[160px] items-center">
            <img class="w-[650px] h-[650px] sm:w-auto sm:h-auto" src="/note.svg" alt="note">
            
            <div class="flex flex-col items-center sm:items-start">
                <h2 class="text-[50px] sm:text-[46px] font-bold uppercase mb-5 sm:mb-10 mt-[-120px] sm:mt-[-25px] text-center sm:text-left">
                    Fitzone
                </h2>
                <p class="text-[30px] sm:text-[25px] max-w-full px-48 sm:px-0 sm:max-w-xl text-center sm:text-left">
                    Página web centrada en búsqueda de áreas verdes, para realizar ejercicios, recuperación de espacios, y promocionar la vida saludable.
                </p>
                <ul class="flex flex-wrap gap-5 sm:gap-10 mt-5 sm:mt-10 justify-center sm:justify-start">
                    <li>
                        <img class="w-[60px] h-[60px] sm:w-12 sm:h-12" src="/vscode.svg" alt="vs code">
                    </li>
                    <li>
                        <img class="w-[60px] h-[60px] sm:w-12 sm:h-12" src="/java.svg" alt="java">
                    </li>
                    <li>
                        <img class="w-[60px] h-[60px] sm:w-12 sm:h-12" src="/bootstrap.svg" alt="bootstrap">
                    </li>
                    <li>
                        <img class="w-[60px] h-[60px] sm:w-12 sm:h-12" src="/spring.svg" alt="spring">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
