<section class="sm:mx-auto ml-[190px] sm:ml-auto mt-20 sm:mt-[-150px] h-auto flex justify-center w-[700px] sm:w-full">
    <div class="border-2 border-black flex flex-col rounded-[30px] items-center bg-white p-6">
        <h1 class="text-[50px] sm:text-3xl  mb-5 sm:mb-10 mt-5 ml-5 sm:ml-10 font-bold text-center">
            Conociendome a fondo
        </h1>
        <div class="flex justify-center">
            <p class="text-[30px] sm:text-[21px] px-6 sm:px-20 max-w-full sm:max-w-3xl text-center sm:text-left">
                Soy Juan Caro, tengo 25 años y me inicié en el mundo de la programación a través del bootcamp Fundación Forge + Coding Dojo Latam. Poseo 1 año de experiencia en el sector, estoy comprometido con mejorar constantemente como programador y como persona. Me apasionan los deportes, especialmente el baloncesto y el fútbol, y disfruto de los videojuegos, los esports y el anime. Además, la música ocupa un lugar importante en mi vida, aunque no tengo un género específico que prefiera. Mi objetivo es seguir aprendiendo y fortaleciendo mis habilidades en programación, siempre con la meta de superarme en cada área.
            </p>
        </div>
        
        <div class="flex flex-col mb-10">
            <h1 class="text-[50px] sm:text-[36px] font-bold text-center mt-5 sm:mt-10">
                Mis Skills
            </h1>
            <h2 class="text-[35px] sm:text-2xl font-semibold text-center mb-10 sm:mb-5 mt-5">
                En conocimiento
            </h2>
            <ul class="flex flex-wrap justify-center gap-10 ml-5 mr-5">
                <li>
                    <img class="w-20 h-20 sm:w-12 sm:h-12" src="/vscode.svg" alt="vs code">
                </li>
                <li>
                    <img class="w-20 h-20 sm:w-12 sm:h-12" src="/html.svg" alt="html">
                </li>
                <li>
                    <img class="w-20 h-20 sm:w-12 sm:h-12" src="/css.svg" alt="css">
                </li>
                <li>
                    <img class="w-20 h-20 sm:w-12 sm:h-12" src="/javascript.svg" alt="js">
                </li>
                <li>
                    <img class="w-20 h-20 sm:w-12 sm:h-12" src="/spring.svg" alt="spring">
                </li>
                <li>
                    <img class="w-20 h-20 sm:w-12 sm:h-12" src="/java.svg" alt="java">
                </li>
            </ul>
            
            <h2 class="text-center text-[35px] sm:text-2xl font-semibold mt-10 mb-10 sm:mb-5">
                En proceso de aprendizaje
            </h2>
            <ul class="flex flex-wrap justify-center gap-10 mb-20 sm:mb-auto ml-5 mr-5">
                <li>
                    <img class="w-20 h-20 sm:w-12 sm:h-12" src="/react.svg" alt="react">
                </li>
                <li>
                    <img class="w-20 h-20 sm:w-12 sm:h-12" src="/tailwind.svg" alt="tailwind">
                </li>
                <li>
                    <img class="w-20 h-20 sm:w-12 sm:h-12" src="/bootstrap.svg" alt="bootstrap">
                </li>
                <li>
                    <img class="w-20 h-20 sm:w-12 sm:h-12" src="/Astro.svg" alt="Astro">
                </li>
            </ul>
        </div>
    </div>
</section>
