<section class="bg-custom-gradient w-[1050px] sm:w-full h-[700px] p-32">
    <h1 class="uppercase text-[56px] mt-[-50px] sm:mt-auto mb-10 text-white">Hola, Mi nombre es Juan Caro</h1>
    <p class="uppercase text-white text-[30px] sm:text-[22px]">Soy un programador full stack autodidacta con un ano de experiencia, especializado en desarrollar aplicaciones completas, tanto en el frontend como en el backend. Apasionado por la tecnologia, Resido en concepcion (Chile) y Busco enfrentar nuevos desafios para seguir creciendo como desarrollador.</p>
</section>